.amigos{
    width: 98vw;
    height: 4em;
    margin-top:  10px;
    background-color: #9A0BE3;
    border-color:#5fddd0;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #1c1c1f74;
    font: 'Qwitcher Grypen', cursive;
    text-align:initial;
    font-size: 1em;
}
.amigos:active{
    
}
img{
        border-radius: 70px;
        width: 60px;
}
p{
    margin-top: -50px;
    margin-left: 90px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.msg{
margin-top: -30px;
margin-left: 90vw;  
background-color: white;
padding: 1px;
border-radius: 20px;
width: 2.5em;
}
main{
    margin-top: 50px;
}